<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<body>
    <form action="">
        <div class="container">
            <div class="row">
                
                <input type="email" placeholder="Enter Email">
            </div><br>
            <div class="row">
                
                <input type="password" maxlength="8" placeholder="Enter password">
            </div><br>
            <div class="row">
                <a href="#" style="margin-left: 55px;">Forget Password?</a><br><br>
                <button type="submit" id="login" style="width: 22.7%;">Login</button>
                
            </div>
            <p>Don't have account? <a href="register.html">Register</a></p>
        </div>
    </form>
</body>
</html>